a:link {
  color: #717073;
  text-decoration: none;
}
a:hover {
  color: #717073;
  text-decoration: none;
}
a:visited {
  color: #717073;
  text-decoration: none;
}
h1 {
  font-size: 1.8em;
  font-family: 'Tahoma', 'Helvetica', Arial, 'Hoefler Text', Garamond, 'Times New Roman';
  margin: 0;
  font-weight: normal;
  color: white;
}
h2 {
  font-size: 3.2em;
  font-family: 'Tahoma', 'Helvetica', Arial, 'Hoefler Text', Garamond, 'Times New Roman';
  margin: 0;
  font-weight: normal;
  color: white;
}
h3 {
  font-size: 1em;
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  font-weight: bold;
  color: #eee;
}
h4 {
  font-size: 1.2em;
  font-family: 'Tahoma', 'Helvetica', Arial, 'Hoefler Text', Garamond, 'Times New Roman';
  margin: 0;
  font-weight: normal;
  color: #717073;
}
body {
  background: #fff;
  background-image: url('../images/tweed.png');
  font-family: sans-serif;
  color: #383838;
  margin: 0;
  padding: 0;
}
.contentwrap {
  max-width: 1440px;
  margin: 0 auto;
  background: white;
}
.wrapper {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper2 {
  height: 170px;
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}
/* ----------- Header ----------- */
header {
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #b70051;
  z-index: 9999;
  /* ----------- Navigation ----------- */
  /*--- DROPDOWN ---*/
}
header #btnnav {
  display: none;
  background: #d8d8d8;
  background-image: url('../images/navicon.png');
  background-repeat: no-repeat;
  background-position: 11px 10px;
  width: 46px;
  height: 45px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
  margin: 90px 10% 0 0;
}
header img {
  padding: 15px 0px 5px 10px;
  float: left;
}
header .banners {
  display: inline;
  margin: 0 0 0 15px;
  padding: 0;
  height: 110px;
  float: right;
}
header .banners a#newsletter {
  margin-top: -10px;
  display: inline-block;
  height: 110px;
  width: 170px;
  background-image: url('../images/newsletterbanner.png');
}
header .banners a#volunteer {
  margin-top: -10px;
  display: inline-block;
  height: 110px;
  width: 170px;
  background-image: url('../images/volunteerbanner.png');
}
header .banners a#donate {
  margin-top: -10px;
  display: inline-block;
  height: 110px;
  width: 170px;
  background-image: url('../images/donatebanner.png');
}
header .banners a#newsletter:hover,
header .banners a#volunteer:hover,
header .banners a#donate:hover {
  margin-top: 0px;
}
header #nav {
  float: right;
  margin-top: 20px;
  position: relative;
  list-style-type: none;
  margin-bottom: 0px;
}
header #nav li {
  float: left;
  margin-right: 10px;
  position: relative;
}
header #nav li a {
  display: block;
  padding: 5px 8px 5px 8px;
  color: #717073;
  text-decoration: none;
}
header #nav li a:hover {
  background: #f2f2f2;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
header #nav ul {
  background: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  left: -9999px;
  overflow: hidden;
  padding: 5px;
  z-index: 5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: -5px;
  background: #f2f2f2;
}
header #nav ul li {
  padding-top: 1px;
  float: none;
  width: 100%;
  display: block;
  padding: 0px;
  overflow: hidden;
  border-bottom: 2px solid #e2e2e2;
  z-index: 5;
}
header #nav ul li:last-child {
  border-bottom: none;
}
header #nav ul a {
  white-space: nowrap;
  padding: 8px 30px;
  margin-left: -20px;
  color: #b60050;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
}
header #nav li:hover ul {
  left: 0px;
}
header #nav li:hover a {
  background: #f2f2f2;
}
header #nav li:hover ul a {
  text-decoration: none;
}
header #nav li:hover ul li a:hover {
  background: #d8d8d8;
  border-radius: none;
}
/* ----------- MAIN IMAGE ----------- */
#mainimage {
  width: 100%;
  background-image: url('../images/img1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  z-index: -9999;
}
#mainimage .wrapper {
  overflow: hidden;
}
#mainimage h1 {
  padding: 8px 20px 10px 20px;
  background: #cc8aa7;
  text-align: center;
  float: right;
  margin-top: 320px;
  margin-right: 10px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
#mainimage h2 {
  padding: 8px 25px 10px 25px;
  background: #b95782;
  text-align: center;
  float: right;
  margin-right: 95px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
#mainimage a {
  width: 250px;
  display: block;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  color: white;
  letter-spacing: 1px;
  font-size: 2em;
  text-transform: uppercase;
  background: #326cba;
  padding: 15px 0;
  float: right;
  margin-top: 20px;
  margin-right: 230px;
  text-align: center;
}
#mainimage a:hover {
  background: #b70051;
}
#mainimage a.newsletterbtn {
  display: none;
}
/* ----------- SIGN UP BAR ----------- */
#signup {
  width: 100%;
  background: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(50%, #191919), color-stop(99%, #000000));
  background: -ms-linear-gradient(top, #000000 0%, #191919 50%, #000000 99%);
  padding: 15px 0;
  overflow: hidden;
}
#signup h3 {
  width: 40%;
  letter-spacing: .5px;
  display: inline-block;
}
#signup form {
  display: inline;
}
#signup form input {
  display: inline-block;
  width: 42%;
  padding: 5px 15px 5px 15px;
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-weight: bold;
  color: #717073;
  font-size: 1em;
  margin-right: 3%;
}
#signup form a {
  display: inline-block;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  text-transform: uppercase;
  background: #b95782;
  padding: 8px 30px;
  text-align: center;
}
#signup form a:hover {
  background: #b70051;
}
/* ----------- SECTION 1 ----------- */
article#section1 {
  width: 100%;
  background-image: url('../images/img2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -20px;
  overflow: hidden;
}
article#section1 h1 {
  float: right;
  padding: 8px 20px 10px 20px;
  background: #cc8aa7;
  text-align: center;
  margin-right: 500px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
article#section1 h2 {
  float: right;
  padding: 6px 120px 8px 120px;
  background: #b95782;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  margin-top: 260px;
  margin-right: 40px;
}
article#section1 .wrapperfix {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -125px;
}
article#section1 .contentblock {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  float: right;
  margin-top: 78px;
  margin-right: 60px;
}
article#section1 p {
  padding: 0px;
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1em;
  color: black;
  text-indent: 50px;
  line-height: 19px;
  letter-spacing: .2px;
}
article#section1 a {
  padding: 5px 20px;
  float: right;
  background-color: rgba(94, 10, 46, 0.8);
  background: rgba(94, 10, 46, 0.8);
  color: rgba(94, 10, 46, 0.8);
  font-weight: bold;
  color: white;
  margin: 10px 70px 50px 10px;
}
article#section1 a span {
  font-size: 1.5em;
}
article#section1 a:hover {
  background: #a64b76;
}
/* ----------- SECTION 2 ----------- */
article#section2 {
  width: 100%;
  background-image: url('../images/img3.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -50px;
  overflow: hidden;
  padding-left: 0px;
}
article#section2 h1 {
  float: left;
  padding: 8px 20px 10px 20px;
  background: #cc8aa7;
  text-align: center;
  margin-right: 300px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
article#section2 h2 {
  float: left;
  padding: 8px 30px 10px 30px;
  background: #b95782;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  margin-top: 260px;
  margin-left: 50px;
}
article#section2 .wrapperfix {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -125px;
}
article#section2 .contentblock {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  float: left;
  margin-top: 78px;
  margin-left: 100px;
}
article#section2 p {
  padding: 0px;
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1em;
  color: black;
  text-indent: 50px;
  line-height: 19px;
  letter-spacing: .2px;
}
article#section2 a {
  padding: 5px 20px;
  float: left;
  background-color: rgba(94, 10, 46, 0.8);
  background: rgba(94, 10, 46, 0.8);
  color: rgba(94, 10, 46, 0.8);
  font-weight: bold;
  color: white;
  margin: 10px 0px 50px 110px;
}
article#section2 a span {
  font-size: 1.5em;
}
article#section2 a:hover {
  background: #a64b76;
}
/* ----------- SECTION 3 ----------- */
article#section3 {
  width: 100%;
  background-image: url('../images/img4.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -70px;
  overflow: hidden;
}
article#section3 h1 {
  float: right;
  padding: 8px 20px 10px 20px;
  background: #cc8aa7;
  text-align: center;
  margin-right: 300px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
article#section3 h2 {
  float: right;
  padding: 8px 30px 10px 30px;
  background: #b95782;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  margin-top: 260px;
  margin-right: 40px;
}
article#section3 .wrapperfix {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -125px;
}
article#section3 .contentblock {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  float: right;
  margin-top: 78px;
  margin-right: 50px;
}
article#section3 p {
  padding: 0px;
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1em;
  color: black;
  text-indent: 50px;
  line-height: 19px;
  letter-spacing: .2px;
}
article#section3 a {
  padding: 5px 20px;
  float: right;
  background-color: rgba(94, 10, 46, 0.8);
  background: rgba(94, 10, 46, 0.8);
  color: rgba(94, 10, 46, 0.8);
  font-weight: bold;
  color: white;
  margin: 10px 60px 50px 10px;
}
article#section3 a span {
  font-size: 1.5em;
}
article#section3 a:hover {
  background: #a64b76;
}
/* ----------- Footer Links on Bar ----------- */
#footerlinks {
  width: 100%;
  background: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(50%, #191919), color-stop(99%, #000000));
  background: -ms-linear-gradient(top, #000000 0%, #191919 50%, #000000 99%);
  padding: 15px 0;
  text-align: center;
}
#footerlinks a {
  padding: 5px 20px;
  color: #dfdfdf;
}
#footerlinks a:hover {
  color: #d1b6c2;
}
/* ----------- Footer ----------- */
footer {
  height: 180px;
  background: white;
}
footer .wrapper {
  max-width: 1000px;
  overflow: hidden;
}
footer #socialmedia {
  float: left;
  display: inline-block;
  width: 20%;
  margin-top: 12px;
  height: 170px;
}
footer #socialmedia p {
  color: #c45a88;
  margin-top: 50px;
}
footer #socialmedia a.fbicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/fbicon.png');
  background-repeat: no-repeat;
  padding: 0;
}
footer #socialmedia a.twicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/twicon.png');
  background-repeat: no-repeat;
  padding: 0;
}
footer #socialmedia a.yticon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/yticon.png');
  background-repeat: no-repeat;
  padding: 0;
}
footer #socialmedia a.inicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/inicon.png');
  background-repeat: no-repeat;
  padding: 0;
}
footer #workingwomeninformation {
  border-right: 1px solid #c45a88;
  border-left: 1px solid #c45a88;
  float: left;
  display: inline-block;
  width: 57%;
  margin-top: 12px;
  padding: 7px 10px;
  height: 150px;
}
footer #workingwomeninformation img {
  margin-top: 10px;
  margin-left: 10px;
  width: 250px;
  float: left;
}
footer #workingwomeninformation #information {
  float: left;
}
footer #workingwomeninformation #information h4 {
  margin: 10px 0 10px 19px;
}
footer #workingwomeninformation #information p {
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-weight: normal;
  padding: 0 0 0 20px;
  margin: 0;
  font-size: .9em;
  color: #c04e7f;
  letter-spacing: 1px;
  line-height: 20px;
}
footer #workingwomeninformation #information a {
  font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  color: #717073;
  text-decoration: underline;
  letter-spacing: 1px;
  line-height: 20px;
  display: inline;
}
footer #uw {
  float: left;
  display: inline-block;
  width: 13%;
  margin-top: 12px;
  padding: 7px 10px;
  height: 170px;
}
footer #uw img {
  margin-top: 60px;
}
#details {
  width: 100%;
  text-align: center;
  margin: auto;
  float: none;
  display: block;
  padding-bottom: 20px;
  background-color: #fff;
}
#details p {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block;
  padding: 5px 0;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1em;
  font-weight: bold;
}
#details p.copyright {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block;
  padding: 0;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: .9em;
}
#details p.unagency {
  display: none;
}
/* ----------- Our Success ----------- */
aside {
  position: fixed;
  width: 200px;
  background: #f3eff1;
  right: 60px;
  top: 195px;
  padding: 0px;
  margin-top: 8px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #e0b9ca;
  z-index: 0;
}
aside a {
  display: block;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  border-bottom: 2px solid #e2e2e2;
}
aside a:last-child {
  border-bottom: none;
}
aside a:hover {
  background: #d8d8d8;
}
header#stories {
  max-width: 900px;
  border: none;
  background: #cc8aa7;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
}
header#stories h1 {
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.8em;
}
header#stories p {
  color: white;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  padding-top: 5px;
  margin: 0;
  float: left;
}
header#stories p.date {
  float: right;
}
article#success {
  max-width: 900px;
  background: #f3eff1;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
article#success p {
  text-indent: 50px;
  padding-bottom: 20px;
  margin: 0;
  color: black;
}
article#success img.photo1 {
  float: left;
  margin: 0 20px 10px 0;
}
article#success img.photo2 {
  float: right;
  margin: 0 0 10px 20px;
}
/* ----------- Donate ----------- */
header#donate {
  border: none;
  background: #cc8aa7;
  margin-top: 10px;
  padding: 10px;
}
header#donate h1 {
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.8em;
  text-align: center;
}
h2.headerfix {
  background: #852b52;
  text-align: center;
  font-size: 1.5em;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  padding: 5px;
}
section#personalinfo {
  float: left;
  display: inline-block;
  width: 49%;
  background: #f3eff1;
  margin: 10px 23px 10px 0;
  padding-bottom: 28px;
}
section#personalinfo p {
  display: inline;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: .95em;
}
section#personalinfo input {
  display: block;
  width: 75%;
  padding: 5px;
  margin: 30px 0 0 64px;
  color: #737276;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1.1em;
}
section#personalinfo input.postal {
  display: inline-block;
  width: 35%;
  padding: 5px;
  margin: 30px 0 0 0;
  color: #737276;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1.1em;
}
section#personalinfo input.checkbox {
  width: 40px;
  margin-left: 52px;
  display: inline;
}
section#personalinfo select {
  display: inline-block;
  width: 37.5%;
  padding: 5px;
  margin: 30px 10px 0 64px;
  color: #737276;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1.1em;
  border: 1px solid #717073;
}
section#donationinfo {
  float: left;
  display: inline-block;
  width: 49%;
  background: #f3eff1;
  margin: 10px 0;
  padding-bottom: 10px;
}
section#donationinfo p {
  display: inline;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1em;
}
section#donationinfo .dollaramount {
  margin: auto;
  text-align: center;
  width: 100%;
}
section#donationinfo input {
  display: block;
  width: 75.8%;
  padding: 5px;
  margin: 20px 0 0 63px;
  color: #737276;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1.1em;
}
section#donationinfo input.amount {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  font-size: 2.1em;
  display: inline;
}
section#donationinfo p.dollar {
  display: inline;
  font-size: 3em;
  margin-right: 20px;
}
section#donationinfo input.radio {
  width: 40px;
  margin-left: 110px;
  display: inline;
}
section#donationinfo select {
  display: inline-block;
  width: 78%;
  padding: 5px;
  margin: 20px 10px 0 64px;
  color: #737276;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 1.1em;
  border: 1px solid #717073;
}
section#donationinfo #formfix p {
  margin-left: 65px;
}
section#donationinfo #formfix input {
  margin: 0px;
  width: 3%;
  display: inline;
}
section#donationinfo #formfix p.pfix {
  display: block;
  font-family: arial;
  margin: 15px 0 15px 64px;
}
section#donationinfo .selection {
  border-top: 1px solid #d0d0d0;
  margin-top: 20px;
  padding-top: 7px;
}
section#donationinfo .form input {
  width: 57%;
  display: inline;
}
section#donationinfo input.small {
  width: 15%;
  margin-left: 10px;
}
section#donationinfo .expires {
  text-align: right;
  margin-right: 45px;
}
section#donationinfo .expires p {
  margin-left: 64px;
}
section#donationinfo .expires input {
  width: 10%;
  display: inline;
  margin: 10px;
}
section#donationinfo input[type="submit"] {
  display: block;
  background: #326cba;
  border: none;
  font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  font-size: 3em;
  color: white;
  margin: auto;
  margin-top: 21px;
  width: 95%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 0;
}
section#donationinfo input[type="submit"]:hover {
  background: #b70051;
}
#thankyou {
  height: 300px;
  text-align: center;
  margin: auto;
  padding-top: 60px;
  font-size: 2em;
}
#thankyou h5 {
  margin: 10px;
}
/* ----------- Media Queries ----------- */
@media only screen and (max-width: 1280px) {
  aside {
    right: 20px;
  }
}
@media only screen and (max-width: 1230px) {
  .wrapper {
    overflow: hidden;
  }
  #mainimage {
    width: 100%;
    overflow: hidden;
  }
  #mainimage h1 {
    margin-top: 240px;
  }
  #signup {
    text-align: center;
  }
  #signup h3 {
    width: 40%;
    margin: 0;
  }
  #signup form input {
    width: 25%;
    margin-left: 10px;
  }
  #signup form a {
    font-size: 1em;
    text-transform: uppercase;
    background: #b95782;
    padding: 8px 30px;
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    height: 190px;
  }
  header#stories {
    max-width: 72%;
    margin: 10px;
    height: 80px;
  }
  article#success {
    max-width: 72%;
    margin: 10px;
  }
  article#success p {
    text-indent: 50px;
    padding-bottom: 20px;
    margin: 0;
    color: black;
  }
  header#donate {
    height: auto;
  }
  section#personalinfo {
    float: left;
    display: inline-block;
    width: 48%;
  }
  section#personalinfo form p {
    display: inline;
  }
  section#personalinfo form input {
    width: 80%;
    margin-left: 30px;
  }
  section#personalinfo form input.postal {
    width: 38%;
  }
  section#personalinfo form input.checkbox {
    width: 40px;
    margin-left: 0px;
  }
  section#personalinfo form select {
    width: 38.5%;
    margin: 30px 10px 0 30px;
  }
  section#donationinfo {
    float: left;
    display: inline-block;
    width: 48%;
    float: right;
  }
  section#donationinfo form .dollaramount {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  section#donationinfo form input {
    display: block;
    width: 80%;
    margin: 20px 0 0 30px;
    color: #737276;
    font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
    font-size: 1.1em;
  }
  section#donationinfo form input.amount {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    font-size: 2.1em;
    display: inline;
  }
  section#donationinfo form p.dollar {
    display: inline;
    font-size: 3em;
    margin-right: 20px;
  }
  section#donationinfo form input.radio {
    width: 40px;
    margin-left: 30px;
    display: inline;
  }
  section#donationinfo form select {
    width: 80%;
    margin: 20px 10px 0 30px;
  }
  section#donationinfo form #formfix p {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1160px) {
  header .wrapper2 {
    height: 210px;
  }
  header img {
    width: 250px;
    float: none;
    margin-left: 10px;
    padding-bottom: 0px;
  }
  header #nav {
    float: none;
    margin: 0 auto;
    width: 850px;
    padding: 0;
  }
  article#section1,
  article#section2,
  article#section3 {
    margin: 0;
  }
  article#section1 h1,
  article#section2 h1,
  article#section3 h1 {
    float: left;
    margin-left: 10%;
    text-align: center;
    width: 35%;
    margin-bottom: 0;
  }
  article#section1 h2,
  article#section2 h2,
  article#section3 h2 {
    float: none;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    margin-top: 250px;
    font-size: 2.5em;
  }
  article#section1 .wrapperfix,
  article#section2 .wrapperfix,
  article#section3 .wrapperfix {
    margin-top: -115px;
  }
  article#section1 .contentblock,
  article#section2 .contentblock,
  article#section3 .contentblock {
    display: block;
    max-width: 90%;
    float: none;
    margin: 0 auto;
    margin-top: 62px;
  }
  article#section1 a,
  article#section2 a,
  article#section3 a {
    margin: 10px 35px 30px 10px;
    float: right;
  }
}
@media only screen and (max-width: 1100px) {
  #mainimage {
    text-align: center;
    padding-bottom: 20px;
  }
  #mainimage h1 {
    float: right;
    padding: 8px 20px 8px 30px;
    text-align: right;
    max-width: 670px;
    margin: 0 auto;
    margin-top: 260px;
  }
  #mainimage h2 {
    float: right;
    width: 450px;
    padding-left: 0;
    padding-right: 20px;
    margin: auto;
    text-align: right;
    margin-top: 0;
    font-size: 2.5em;
  }
  #mainimage a {
    width: 250px;
    float: right;
    margin: 10px 90px 0 0;
    text-align: center;
    padding: 10px;
  }
  #signup h3 {
    margin: 0;
    padding: 0;
  }
  #signup form {
    padding: 0;
    margin: 0;
  }
  #signup form input {
    width: 20%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  #mainimage {
    text-align: center;
    padding-bottom: 0;
  }
  #mainimage h1 {
    display: none;
  }
  #mainimage h2 {
    float: none;
    width: 100%;
    margin-top: 370px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #mainimage .wrapper {
    display: inline;
  }
  #mainimage #background {
    background: #f3f3f3;
    padding: 10px 0 20px 0;
  }
  #mainimage a {
    width: 25%;
    display: inline-block;
    float: none;
    margin: auto;
    text-align: center;
    margin: 10px 6px 0 6px;
    font-size: 1.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #mainimage a.newsletterbtn {
    display: inline-block;
  }
  #signup {
    display: none;
  }
  article#section1,
  article#section2,
  article#section3 {
    background: none;
    padding: 15px 0;
  }
  article#section1 .wrapbackground,
  article#section2 .wrapbackground,
  article#section3 .wrapbackground {
    background-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    width: 95%;
    margin: auto;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  article#section1 h1,
  article#section2 h1,
  article#section3 h1 {
    float: none;
    margin-left: 10%;
    text-align: center;
    width: 35%;
    margin-bottom: 0;
  }
  article#section1 h2,
  article#section2 h2,
  article#section3 h2 {
    float: none;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    font-size: 2.5em;
  }
  article#section1 .wrapperfix,
  article#section2 .wrapperfix,
  article#section3 .wrapperfix {
    margin-top: -115px;
  }
  article#section1 .contentblock,
  article#section2 .contentblock,
  article#section3 .contentblock {
    background: none;
  }
  article#section1 a,
  article#section2 a,
  article#section3 a {
    margin: 10px 35px 30px 10px;
    float: right;
  }
  article#section1 {
    background: #cc8aa7;
  }
  article#section2 {
    background: #ed97bd;
    padding-left: 0px;
  }
  article#section3 {
    background: #f17aaf;
  }
  aside {
    position: static;
    display: block;
    border: none;
    padding: 5px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    background: #b95782;
  }
  aside a:link,
  aside a:active,
  aside a:visited {
    color: white;
    display: block;
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
  aside a:hover {
    background: #cc8aa7;
  }
  header#stories {
    max-width: 95%;
    overflow: hidden;
    margin: 10px;
  }
  article#success {
    max-width: 95%;
  }
  header#donate {
    border: none;
    background: #cc8aa7;
    margin-top: 10px;
    padding: 10px;
  }
  header#donate h1 {
    font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 2.8em;
    text-align: center;
  }
  h2.headerfix {
    background: #852b52;
    text-align: center;
    font-size: 1.5em;
    font-family: ABeeZee, Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
    padding: 5px;
  }
  section#personalinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
  section#personalinfo form p {
    font-size: .9em;
  }
  section#donationinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
}
@media only screen and (max-width: 945px) {
  article#section1 h1,
  article#section2 h1,
  article#section3 h1 {
    float: none;
    margin: 0 auto;
    background: none;
    text-shadow: none;
    color: black;
  }
  article#section1 h2,
  article#section2 h2,
  article#section3 h2 {
    background: none;
    text-shadow: none;
    color: black;
  }
  footer {
    overflow: hidden;
  }
  footer .wrapper {
    max-width: 1000px;
    overflow: hidden;
  }
  footer #socialmedia {
    float: left;
    display: inline-block;
    width: 32%;
    text-align: center;
  }
  footer #socialmedia p {
    text-align: center;
  }
  footer #workingwomeninformation {
    border-right: none;
    float: left;
    display: inline-block;
    width: 62%;
  }
  footer #workingwomeninformation img {
    width: 200px;
    margin-top: 20px;
  }
  footer #workingwomeninformation p {
    font-size: 1.5em;
  }
  footer #workingwomeninformation a {
    font-size: 1.5em;
  }
  #uw {
    display: none;
  }
  #uw img {
    display: none;
  }
  #details p.unagency {
    display: block;
  }
  header#donate {
    padding: 10px 0;
  }
  header#donate h1 {
    font-size: 2em;
    padding: 0;
  }
  section#personalinfo form p {
    font-size: .9em;
    display: inline-block;
    max-width: 400px;
    margin-top: 5px;
  }
  section#personalinfo form input.checkbox {
    margin-left: 30px;
    width: 40px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    background: #f3f3f3;
    height: 175px;
  }
  header .banners {
    display: none;
  }
  header #btnnav {
    display: block;
  }
  header img {
    padding-left: 20px;
  }
  header .wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  header ul#nav {
    border-bottom: 5px solid #b70051;
    width: 100%;
  }
  header ul#nav,
  header ul.sub1,
  header ul.sub2,
  header ul.sub3,
  header ul.sub4 {
    text-align: left;
    margin: 0 auto;
    float: left;
    padding-left: 0px;
    background-color: #f2f2f2;
    padding: 0 10px;
    display: none;
  }
  header ul#nav ul.sub1,
  header ul.sub1 ul.sub1,
  header ul.sub2 ul.sub1,
  header ul.sub3 ul.sub1,
  header ul.sub4 ul.sub1,
  header ul#nav ul.sub2,
  header ul.sub1 ul.sub2,
  header ul.sub2 ul.sub2,
  header ul.sub3 ul.sub2,
  header ul.sub4 ul.sub2,
  header ul#nav ul.sub3,
  header ul.sub1 ul.sub3,
  header ul.sub2 ul.sub3,
  header ul.sub3 ul.sub3,
  header ul.sub4 ul.sub3,
  header ul#nav ul.sub4,
  header ul.sub1 ul.sub4,
  header ul.sub2 ul.sub4,
  header ul.sub3 ul.sub4,
  header ul.sub4 ul.sub4 {
    display: none;
  }
  header ul#nav li,
  header ul.sub1 li,
  header ul.sub2 li,
  header ul.sub3 li,
  header ul.sub4 li {
    margin: 0 auto;
    display: block;
    width: 96%;
    margin: 2px;
    padding: 5px 2px;
    border-bottom: 2px solid #d6d6d6;
    display: hidden;
  }
  header ul#nav li:last-child,
  header ul.sub1 li:last-child,
  header ul.sub2 li:last-child,
  header ul.sub3 li:last-child,
  header ul.sub4 li:last-child {
    border-bottom: none;
  }
  header ul#nav a,
  header ul.sub1 a,
  header ul.sub2 a,
  header ul.sub3 a,
  header ul.sub4 a {
    width: 65%;
    padding: 8px 5px;
    float: left;
    font-size: 1em;
    font-weight: bold;
  }
  header ul#nav a:hover,
  header ul.sub1 a:hover,
  header ul.sub2 a:hover,
  header ul.sub3 a:hover,
  header ul.sub4 a:hover {
    border-radius: 0;
  }
  header ul#nav a.button1,
  header ul.sub1 a.button1,
  header ul.sub2 a.button1,
  header ul.sub3 a.button1,
  header ul.sub4 a.button1,
  header ul#nav a.button2,
  header ul.sub1 a.button2,
  header ul.sub2 a.button2,
  header ul.sub3 a.button2,
  header ul.sub4 a.button2,
  header ul#nav a.button3,
  header ul.sub1 a.button3,
  header ul.sub2 a.button3,
  header ul.sub3 a.button3,
  header ul.sub4 a.button3,
  header ul#nav a.button4,
  header ul.sub1 a.button4,
  header ul.sub2 a.button4,
  header ul.sub3 a.button4,
  header ul.sub4 a.button4 {
    width: 60px;
    height: 30px;
    background: #e2e2e2;
    background-image: url('../images/arrowmore.png');
    background-repeat: no-repeat;
    background-position: 22px 12px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: -2px;
  }
  #nav ul.sub1,
  #nav ul.sub2,
  #nav ul.sub3,
  #nav ul.sub4 {
    position: static;
    left: 0px;
    padding: 0px;
    display: none;
  }
  #nav ul.sub1 a,
  #nav ul.sub2 a,
  #nav ul.sub3 a,
  #nav ul.sub4 a {
    padding: 7px 5px;
    margin-left: 0;
    color: #b60050;
    font-family: arial;
    display: block;
    width: 100%;
  }
  #nav ul {
    background: rgba(255, 255, 255, 0);
    list-style: none;
    position: static;
    left: 0px;
    background: #f2f2f2;
    padding: 0;
    border-radius: none;
    display: block;
  }
  #nav ul.sub1 li,
  #nav ul.sub2 li,
  #nav ul.sub3 li,
  #nav ul.sub4 li {
    float: none;
    padding: 5px 2px;
    border-bottom: 2px solid #e2e2e2;
    background: rgba(255, 255, 255, 0);
    list-style: none;
    position: static;
    left: 0px;
    background: #f2f2f2;
    padding: 5px;
    border-radius: none;
    display: block;
    width: 100%;
    display: hidden;
  }
  #nav ul li:last-child {
    border-bottom: none;
  }
  #nav ul.sub1,
  #nav ul.sub2,
  #nav ul.sub3,
  #nav ul.sub4 {
    display: block;
    left: auto;
    float: none;
    width: 100%;
    display: hidden;
  }
  #nav li:hover ul {
    position: static;
    left: 0px;
  }
  #nav ul.sub1,
  #nav ul.sub2,
  #nav ul.sub3,
  #nav ul.sub4 {
    display: block;
    width: 100%;
    display: hidden;
  }
  #nav li:hover ul {
    left: auto;
  }
  #nav li:hover a {
    display: hidden;
  }
  #nav li:hover ul a {
    display: hidden;
  }
  #nav li:hover ul li a:hover {
    display: hidden;
  }
  footer {
    overflow: hidden;
  }
  footer .wrapper {
    max-width: 1000px;
    overflow: hidden;
  }
  footer #socialmedia {
    float: left;
    display: inline-block;
    width: 45%;
    text-align: center;
  }
  footer #socialmedia p {
    text-align: center;
  }
  footer #workingwomeninformation {
    float: left;
    display: inline-block;
    width: 45%;
    padding-left: 40px;
  }
  footer #workingwomeninformation img {
    display: none;
  }
  footer #workingwomeninformation p {
    font-size: 1.5em;
  }
  footer #workingwomeninformation a {
    font-size: 1.5em;
  }
  #uw {
    display: none;
  }
  #uw img {
    display: none;
  }
  #details p.unagency {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  article#success {
    text-align: center;
    overflow: hidden;
  }
  article#success p {
    text-align: left;
  }
  article#success img.photo1 {
    float: none;
    margin: 0 0 10px 0;
  }
  article#success img.photo2 {
    float: none;
    margin: 0 0 10px 0;
  }
}
@media only screen and (max-width: 750px) {
  #mainimage h2 {
    margin-top: 290px;
  }
  #mainimage a {
    width: 25%;
    font-size: 1em;
  }
  article#section1,
  article#section2,
  article#section3 {
    margin: 0;
  }
  article#section1 .wrapbackground,
  article#section2 .wrapbackground,
  article#section3 .wrapbackground {
    width: 90%;
  }
  article#section1 h1,
  article#section2 h1,
  article#section3 h1 {
    font-size: 1.2em;
    margin-top: 55px;
    width: 100%;
    padding: 0px;
  }
  article#section1 h2,
  article#section2 h2,
  article#section3 h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
  }
  article#section1 .contentblock,
  article#section2 .contentblock,
  article#section3 .contentblock {
    max-width: 100%;
    margin-top: 40px;
    padding: 5px;
  }
  article#section1 a,
  article#section2 a,
  article#section3 a {
    margin: 0px;
    float: right;
  }
  article#success {
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
  }
  header#stories {
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
  }
  header#stories h1 {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 550px) {
  header {
    height: 130px;
  }
  header img {
    width: 180px;
    margin: 5px 0 0 0;
  }
  header #btnnav {
    margin-top: 40px;
  }
  #mainimage h2 {
    margin-top: 240px;
  }
  article#section1,
  article#section2,
  article#section3 {
    margin: 0;
  }
  article#section1 .wrapbackground,
  article#section2 .wrapbackground,
  article#section3 .wrapbackground {
    width: 90%;
  }
  article#section1 h1,
  article#section2 h1,
  article#section3 h1 {
    font-size: 1.1em;
    margin-top: 60px;
    width: 100%;
    padding: 0px;
  }
  article#section1 h2,
  article#section2 h2,
  article#section3 h2 {
    font-size: 1.2em;
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
  article#section1 .contentblock,
  article#section2 .contentblock,
  article#section3 .contentblock {
    border-top: 2px solid #b70051;
    margin-top: 50px;
    padding-top: 5px;
  }
  article#section1 a,
  article#section2 a,
  article#section3 a {
    margin: 0px;
    float: right;
  }
  #footerlinks {
    padding: 0px;
  }
  #footerlinks a {
    width: 25%;
    display: inline-block;
    margin: 10px;
    padding: 0;
    font-size: 1em;
  }
  #footerlinks a.font-fix {
    float: left;
  }
  #footerlinks a.font-fix2 {
    float: right;
  }
  #footerlinks a.homelink {
    display: none;
  }
  footer {
    height: 120px;
  }
  footer #workingwomeninformation {
    display: none;
  }
  footer #socialmedia {
    float: left;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  footer #socialmedia p {
    margin-top: 10px;
  }
  header#stories {
    width: 95%;
  }
  header#stories h1 {
    font-size: 1.7em;
  }
  article#success img {
    width: 100%;
  }
  section#personalinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
  section#personalinfo form p {
    font-size: .9em;
    float: left;
    display: inline-block;
    max-width: 300px;
    margin-top: 5px;
  }
  section#personalinfo form input.checkbox {
    margin-left: 20px;
    width: 20px;
    float: left;
  }
  section#personalinfo form input {
    margin-top: 10px;
  }
  section#personalinfo form input.postal {
    margin: auto;
    margin-top: 10px;
  }
  section#personalinfo form select {
    width: 41%;
    margin: auto;
    margin-left: 30px;
  }
  section#donationinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
  section#donationinfo #formfix p.pfix,
  section#donationinfo #formfix p {
    margin: 15px 0 15px 20px;
  }
  section#donationinfo input {
    margin-left: 20px;
  }
  section#donationinfo input.radio {
    margin-left: 20px;
  }
  section#donationinfo select {
    margin-left: 20px;
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  #mainimage h2 {
    font-size: 1.8em;
    margin-top: 192px;
  }
  #mainimage #background {
    padding: 7px 0;
    width: 100%;
  }
  #mainimage #background a {
    width: 32%;
    padding: 15px 0;
    font-size: .7em;
    margin: 0;
    font-family: Arial, 'Tahoma', 'Hoefler Text', Garamond, 'Times New Roman';
  }
  header#stories {
    pdding: 0px;
  }
  header#stories h1 {
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
  }
  header#stories p {
    background: #b95782;
    text-align: center;
    float: none;
    width: 95%;
    padding: 5px;
  }
  header#stories p.date {
    float: none;
    margin: 0;
  }
}
@media only screen and (max-width: 370px) {
  header {
    height: 110px;
  }
  header #nav a {
    width: 50%;
  }
  header #btnnav {
    margin-top: 40px;
  }
  header img {
    width: 170px;
    margin-top: 0px;
  }
  #mainimage h2 {
    margin-top: 165px;
  }
  section#personalinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
  section#personalinfo form input {
    margin-top: 10px;
    font-size: 1em;
  }
  section#personalinfo form input.postal {
    margin: auto;
    margin-top: 10px;
    font-size: 1em;
  }
  section#personalinfo form select {
    width: 41%;
    margin: auto;
    margin-left: 30px;
    font-size: 1em;
  }
  section#personalinfo form p {
    font-size: .9em;
  }
  section#donationinfo {
    float: left;
    display: inline-block;
    width: 100%;
  }
  section#donationinfo form #formfix {
    font-size: .9em;
    margin-left: 20px;
    width: 100%;
  }
  section#donationinfo form #formfix p {
    margin-left: 5px;
    display: inine-block;
  }
  section#donationinfo form #formfix p.pfix {
    margin-left: 5px;
    display: block;
  }
  section#donationinfo form input {
    margin-left: 20px;
    font-size: 1em;
  }
  section#donationinfo form select {
    width: 84%;
    margin-left: 20px;
    font-size: 1em;
  }
  section#donationinfo form p {
    width: 100%;
    font-size: .9em;
    margin-left: 0px;
  }
  section#donationinfo form .radiofix {
    margin-left: 10px;
    display: inline-block;
  }
}
